In [1]:
a=0
b=1
count  = 0
while count < 50:
    print(a)
    c =a+b
    a=b
    b=c
    count+=1

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049

In [3]:
a=0
b=1
count  = 0
while count < 5:
    print(a,end = "")
    c =a+b
    a=b
    b=c
    count+=1

01123

In [6]:
def malhar():
    x=7
    y=10
    print(x+y)

In [7]:
malhar()

17

In [10]:
def mith():
    x=10
    y=2
print('the total is',mith())

the total is None

In [11]:
def mith():
    x=10
    y=2
    return(x+y)
print('the total is',mith())

the total is 12

In [12]:
print('the sum is',mith())

the sum is 12

In [13]:
def mallu(n1,n2):
    return(n1+n2)

In [15]:
x=int(input())
y=int(input())
print('the addition is',mallu(x,y))

 5
 8

the addition is 13

In [19]:
def lis(n1):
    c=0
    for i in n1:
        c+=1
    return(c)

In [20]:
print('no of characters are',lis('my name is malhar '))

no of characters are 18

In [21]:
def login(username,password):
    correct_username = 'malhar'
    correct_password = 'mith'
    if(username == correct_username and password == correct_password):
        return True
    else:
        return False

name = input('enter your name')
print('welcome',name)
user = input('enter the username')
ps = input('enter the password')

if login(user,ps):
    print('welcome',name)
else:
    print('rejected',name)

In [23]:
def fibo_series(a,b,n):
    count = 0
    while count <n:
        print(a,end=",")
        c=a+b
        a=b
        b=c
        count+=1

In [24]:
fibo_series(1,10,10)

1,10,11,21,32,53,85,138,223,361,

In [25]:
x=1
y=2
print(x+y)

3

In [27]:
def add1():
    x=1
    y=2
    print(x+y)
add1()

3

In [28]:
def add2():
    x=1
    y=2
    return(x+y)
print('the total is',add2())

the total is 3

In [29]:
def add3(n1,n2):
    return(n1+n2)
print('the sum is',add3(3,4))

the sum is 7

In [30]:
def malhar(a,b):
    return(a+b)

In [31]:
def mith(a,b):
    return(a+b)

In [33]:
from mallu import *
print(malhar(4,3))
print(mith(7,9))
# this can only be done in pie charm or sublime text

ModuleNotFoundError: No module named 'mallu'

In [4]:
def dictionary(x):
    return(x)

val = {1:'methi','chicken':700,7.2:45}
print(dictionary(val))
print(dictionary(val.keys))
print(dictionary(val.values()))
print(dictionary(val['chicken']))

{1: 'methi', 'chicken': 700, 7.2: 45}
<built-in method keys of dict object at 0x000001E6FFB1B580>
dict_values(['methi', 700, 45])
700

In [13]:
print('''hi
my bame is 
malhar''')

hi
my bame is
malhar

In [12]:
def malhar(n1):
    list = []
    for i in n1:
        list.append(i)
    return(list)
val = {1:'methi','chicken':700,7.2:45}
print(malhar(val.keys()))

[1, 'chicken', 7.2]

In [14]:
def add(x,y,z):
    return(x+y+z)
print(add(1,2,3))

6