In [2]:
print('welcome to malhar transport')
q1 = int(input('enter the bus number'))
if(q1 ==101):
    print('route 1')
    q2 = input('do you want to travel')
    if(q2.lower()=='yes'):
       print('ticket price is 55')
    elif(q2.lower() =='no'):
        print('thank you')
    else:
        print('Incorrect option. choose yes or no')
elif(q1 == 102):
    print('route 2')
elif(q1 == 103):
    print('route 3')
elif(q1 == 104):
    print('route 4')
else:
    print('bus does not exist')

welcome to malhar transport

enter the bus number 101

route 1

do you want to travel yes

ticket price is 55

In [3]:
score = int(input('enter your score'))
if(score >= 90):
    print('A')
elif(score<90 and score >= 70):
    print('B')
elif(score< 70 and score >= 50):
    print('c')
else:
    print('D')

enter your score 99

A

In [4]:
print('welcome to jabh chye tbh paise nikalo ATM')
name = input('enter your username')
if(name == 'mith'):
  print('welcome',name)
  pin = int(input('enter your pin'))
  if(pin == 2004):
    print('kindly select the 4 options given below')
    print('1 show balance')
    print('2 deposit')
    print('3 withdraw')
    print('4 exit')
    bal = 50000
    q1=int(input('Enter the option'))
    if(q1 == 1):
      print('your balance is',bal)
      print('Thankyou',name)
    elif(q1== 2):
        d= int(input('enter the amount to deposit'))
        m= bal + d
        print('your current balance is',m,'thank you',name,'do visit again')
    elif(q1== 3):
        w =int(input('enter the amount to be withdrawn'))
        if(w>bal):
           print('insufficient balance',name,'do visit again')
        else:
            cw=bal-w
            print('your new balance is',cw)
            print('Thank you for banking with us','do visit again')
    elif(q1== 4):
      print('Thank you for banking with us','do visit again')
  else:
    print('Invalid password')
else:
  print('InvalidÂ username')

welcome to jabh chye tbh paise nikalo ATM

enter your username mith

welcome mith

enter your pin 2004

kindly select the 4 options given below
1 show balance
2 deposit
3 withdraw
4 exit

Enter the option 1

your balance is 50000
Thankyou mith

In [2]:
print('Welcome to the Quiz')
name =input('enter your name')
print('Welcome',name)
print( 'NOTE- each right answer gives you 5 mrks and there is no negative markings')
score = 0
correct = 0
incorrect = 0

print("1) what is 2+2?")
print("a) 0")
print("b) 4")
print("c) 6")
print("d) 10")
ans1 = input('enter the option')
if ans1.lower() == 'b':
    print('correct')
    score += 5
    correct += 1
else:
    print("incorrect. the correct answer is b)4")
    incorrect += 1
print("2) what comes after 2?")
print("a) 1")
print("b) 3")
print("c) -2")
print("d) 2")
ans2 = input('enter the option')
if ans2.lower() == 'b':
    print('correct')
    score += 5
    correct += 1
else:
    print("incorrect. The correct answer is b)3")
    incorrect += 1
print("3) which month comes after April?")
print("a) May")
print("b) June")
print("c) July")
print("d) August")
ans3 = input('enter the option')
if ans3.lower() == 'a':
    print('correct')
    score += 5
    correct += 1
else:
    print("incorrect. The correct answer is a) May")
    incorrect += 1
print('Quiz Completed')
print('Total Correct Answers:', correct)
print('Total Incorrect Answers:', incorrect)
print('Your Final Score:', score, 'out of 15')

Welcome to the Quiz

enter your name mith

Welcome mith
NOTE- each right answer gives you 5 mrks and there is no negative markings
1) what is 2+2?
a) 0
b) 4
c) 6
d) 10

enter the option b

correct
2) what comes after 2?
a) 1
b) 3
c) -2
d) 2

enter the option b

correct
3) which month comes after April?
a) May
b) June
c) July
d) August

enter the option d

incorrect. The correct answer is a) May
Quiz Completed
Total Correct Answers: 2
Total Incorrect Answers: 1
Your Final Score: 10 out of 15

In [12]:
print('welcome to guess the number and win the price')
print('guess the number between 1 to 10')
import random as rd
rd.randint(1,10)
number= int(input('enter the number'))
if number == 7:
            print('congrats you gussed it right')
else:
            print('incorrect')

welcome to guess the number and win the price
guess the number between 1 to 10

enter the number 6

incorrect

In [13]:
print(" Let's play Rock Paper & Scissor ")
player1 = input('enter your name')
player2 = input('enter your name')
print( 'welcome',player1,"and" ,player2 )
print("rock")
print("paper")
print("scissor")
c1 = input('enter your choice')
c2 = input('enter your choice')
if ( c1 == 'rock' and c2 == 'rock'):
    print('draw')
elif( c1 == 'rock' and c2 == 'scissor'):
    print(c1,'won')
elif( c1 == 'rock' and c2 == 'paper'):
    print(c1,'won')
elif( c1 == 'paper' and c2 == 'paper'):
    print('draw')
elif( c1 == 'scissor' and c2 == 'scissor'):
    print('draw')
elif( c1 == 'paper' and c2 == 'rock'):
    print(c2,'won')
elif( c1 == 'paper' and c2 == 'scissor'):
    print(c2,'won')
elif( c1 == 'scissor' and c2 == 'rock'):
    print(c1,'won')
elif( c1 == 'scissor' and c2 == 'paper'):
    print(c1,'won')
else:
    print('select from the given options only')

 Let's play Rock Paper & Scissor

enter your name ji
enter your name pl

welcome ji and pl
rock
paper
scissor

enter your choice pl
enter your choice rock

select from the given options only

In [15]:
x = 'my name is malhar'
for i in x:
    print(i)

m
t

n
a
m
e

i
s

m
a
l
h
a
r

In [18]:
x = 'my name is malhar'
c=0
for i in x:
    if(i=='m'):
        c=c+1
print(c)

3

In [19]:
x = "     "
for i in x:
    print('my name is malhar')

my name is malhar
my name is malhar
my name is malhar
my name is malhar
my name is malhar

In [34]:
article = 'my name is malhar and i love butter chicken'
space_count = 0
for i in article:
    if(i==" "):
        space_count +=1
words = space_count+1
print('no of words' ,words)
if(words>=10):
    print('your article can be submitted')
else:
    print('article is rejected')

no of words 9
article is rejected

In [2]:
for i  in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [3]:
for i  in range(0,5):
    print('my name is malhar')

my name is malhar
my name is malhar
my name is malhar
my name is malhar
my name is malhar

In [4]:
for i  in range(0,5,3):
    print(i)

0
3

In [6]:
even = 0
odd = 0
for i  in range(1,1001):
    if(i%2==0):
        even+=1
    else:
        odd+=1
print('no. of even numbers',even)
print('no. of odd numbbers',odd)

no. of even numbers 500
no. of odd numbbers 500

In [21]:
negative =0
for i in range(-10,4):
    if(i<0):
        negative += 1
print('no. of negative numbers',negative)

no. of negative numbers 10

In [16]:
sample_string = "my name is malhar and i love food"
for i in range(0,len(sample_string)):
    print(sample_string[i],i)

m 0
y 1
  2
n 3
a 4
m 5
e 6
  7
i 8
s 9
  10
m 11
a 12
l 13
h 14
a 15
r 16
  17
a 18
n 19
d 20
  21
i 22
  23
l 24
o 25
v 26
e 27
  28
f 29
o 30
o 31
d 32

In [17]:
characters = 0
for i in sample_string:
    characters+=1 
for i in range (0,characters):
    print(sample_string[i],i)

m 0
y 1
  2
n 3
a 4
m 5
e 6
  7
i 8
s 9
  10
m 11
a 12
l 13
h 14
a 15
r 16
  17
a 18
n 19
d 20
  21
i 22
  23
l 24
o 25
v 26
e 27
  28
f 29
o 30
o 31
d 32

In [43]:
str1 ="HELLO"
str2 ="HEART"
for i in range(0,len(str1) and len(str2)):
    print(str1[i] ,str2[i])
    if(str1[i] == str2[i]):
     print('same')
    else:
     print('diff')

H H
same
E E
same
L A
diff
L R
diff
O T
diff

In [41]:
str1 ="HELLO"
str2 ="HEART"

count1 = 0
for i in str1:
    count1 += 1
count2 = 0
for j in str2:
    count2 += 1
min_len = 0
for i in str1:
    if min_len < count2:
        min_len += 1
for index in range(0, min_len):
    if str1[index] == str2[index]:
        print("same at index", index,":", str1[index])
    else:
        print("Different at index",index,":",str1[index], "vs", str2[index])

same at index 0 : H
same at index 1 : E
Different at index 2 : L vs A
Different at index 3 : L vs R
Different at index 4 : O vs T

In [44]:
x = 'hello'
for i in x:
    if(i in 'aeiou'):
        print('first vowel found',i)
        break

first vowel found e

In [2]:
x = 1 
while (x<= 100):
    print(x)
    x+= 2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
x=0
while(x<=100):
    if(x%2!=0):
        print(x)
        x+=1